# https://github.com/github/gitignore/blob/master/Global/Ansible.gitignore
*.retry

# Don't commit the randomized password
/.ansible-vault

# From Ansible Galaxy (requirements.yml)
/roles/*
!/roles/dpms
